<app-ngclass></app-ngclass>
<hr>
<app-ngstyle></app-ngstyle>
<div appHighLight>Duc Khue</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>MaSP</label>
                <input type="text" class="form-control" #maSP />
            </div>
            <div class="form-group">
                <label>TenSP</label>
                <input type="text" class="form-control" #tenSP />
            </div>
            <div class="form-group">
                <label>GiaSP</label>
                <input type="text" class="form-control" #giaSP />
            </div>

            <button class="btn btn-success" (click)="addProduct(maSP.value, tenSP.value,giaSP.value)">Thêm SP</button>

            <table class="table">
                <thead>
                    <tr>
                        <th>MaSP</th>
                        <th>TenSP</th>
                        <th>GiaSP</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="dssp">
                        <tr *ngFor="let item of dssp, let stt=index" [ngClass]="{bgTR: stt % 2 !==0}">
                            <td>{{item.maSP}}</td>
                            <td>{{item.tenSP}}</td>
                            <td>{{item.giaSP}}</td>

                        </tr>

                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>