<!-- <app-baitap1></app-baitap1> -->
<!-- <app-baitap2></app-baitap2> -->
<app-data-binding></app-data-binding>
<!-- <app-baitap3></app-baitap3> -->
<hr>
<!-- <app-strutural-directive></app-strutural-directive> -->
<hr>
<!-- <app-attribute-directive></app-attribute-directive> -->
<hr>
<!-- <app-interaction></app-interaction> -->
<hr>
<app-booking-bus></app-booking-bus>
<!-- <router-outlet></router-outlet> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>